* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.section {
    padding: 2rem 0 2rem;
    text-align: center;
}
.section-heading, .section-description {
    margin-bottom: 1.2rem;
}
.register-heading {
	padding:1rem;
    margin-bottom: .3rem;
}
.categories .section-description {
    margin-bottom: 4rem;
}
.tos{
	text-align: left;
}
#feature{
    width:95%;
}
#chatbox{
	text-align: left;
}
@media (max-width: 480px) {
    .section {
        padding: 6rem 0rem 11rem 0rem;
    }
    .register-heading {
        font-size: 3rem;
		padding-bottom:1.5rem;
    }
    .show-heading {
        font-size: 2.5rem;
    }
    .show-description {
        font-size: 2rem;
    }
	.order-heading {
		font-size:2.5rem;
	}
	.order-description {
		font-size:2rem;
	}
	.tos-heading{
		font-size:1.25rem;
		margin-top:-0.5rem;
		margin-bottom:-0.25rem;
	}
	.tos{
		font-size:1.125rem;
	}
	.feedback{
		font-size:1.25rem;
	}
	#id_first_name, #id_last_name, #id_email, #id_password, #id_password1, #id_password2, #id_student{
		font-size:1.25rem;
	}
	.registration, .label{
		font-size:1.25rem;
		margin-top:-1rem;
	}
}
@media (min-width:481px) {
    .section {
        padding: 2rem 0 2rem;
    }
    .register-heading {
        font-size: 4rem;
    }
    .register-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
	.show-heading {
		font-size:3rem;
	}
    .show-description {
		font-size:2rem;
    }
	.order-heading {
		font-size:3rem;
	}
	.order-description {
		font-size:2.5rem;
	}
	.tos-heading{
		font-size:1.75rem;
		margin-top:-0.5rem;
		margin-bottom:-0.25rem;
	}
	.tos{
		font-size:1.5rem;
	}
	.feedback{
		font-size:1.75rem;
	}
	#id_first_name, #id_last_name, #id_email, #id_password, #id_password1, #id_password2, #id_student{
		font-size:1.5rem;
		margin-bottom:-0.25rem;
		margin-top:-0.25rem;
	}
	.registration, .label{
		font-size:1.5rem;
		margin-top:-1rem;
	}
}
@media (min-width: 961px) {
    .section {
        padding: 3rem 0 3rem;
    }
    .register-heading {
        font-size: 5rem;
    }
	.show-heading {
		font-size:3.5rem;
	}
	.show-description {
		font-size:3rem;
	}
	.order-heading {
		font-size:3.5rem;
	}
	.order-description {
		font-size:2.75rem;
	}
	.tos-heading{
		font-size:2.5rem;
	}
	.tos{
		font-size:2rem;
	}
	.feedback{
		font-size:2.25rem;
	}
	#id_first_name, #id_last_name, #id_email, #id_password, #id_password1, #id_password2, #id_student{
		font-size:2rem;
		margin-bottom:-0.25rem;
		margin-top:-0.25rem;
	}
	.registration, .label{
		font-size:1.5rem;
		margin-top:-1rem;
	}
}
.modal-window {
	position:absolute;
	top:25%;
    right:7.5%;
    background-color: rgba(255,255,255,0.9);
	z-index:999;
	opacity:0;
    width:85%;
	pointer-events:none;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
    border: 1px #BBBBBB solid;
    border-radius:6px;
    padding:10px;
	height:auto;
}
.modal-window:target {
	opacity:1;
	pointer-events:auto;
}
.modal-window>div {
	width:400px;
	position:relative;
	margin:10% auto;
    padding:1rem;
	background:#fff;
	color:#444;
}
.modal-close {
	color:black;
	line-height:50px;
	font-size:80%;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:70px;
	text-decoration:none;
}
.modal-close:hover {
	color:red;
	font-weight:bold;
}
.feedback-window {
	position:absolute;
	top:25%;
    right:7.5%;
    background-color: rgba(255,255,255,0.9);
	z-index:999;
	opacity:0;
    width:85%;
	pointer-events:none;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
    border: 1px #BBBBBB solid;
    border-radius:6px;
    padding:10px;
	height:auto;
}
.feedback-window:target {
	opacity:1;
	pointer-events:auto;
}
.feedback-window>div {
	width:400px;
	position:relative;
	margin:10% auto;
    padding:2rem;
	background:#fff;
	color:#444;
}
.feedback-close {
	color:#aaa;
	line-height:50px;
	font-size:80%;
	position:absolute;
	right:0;
	text-align:center;
	top:80%;
	width:70px;
	text-decoration:none;
}
.feedback-close:hover {
	color:red;
	font-weight:bold;
}
.feedback-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
#name{
	display:inline-block;
}
.top{
	padding-top:1em;
}
.message{
	height:6rem;
	font-size:1.5rem;
}
