<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Order Status - {{user.first_name}} {{user.last_name}}</title>
        <script src="https://js.stripe.com/v2/"></script>
        <script src="https://js.stripe.com/v3/"></script>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'users/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'users/css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'users/css/styles.css' %}" />
        <script src="{% static 'users/js/jquery.js' %}" charset="utf-8"></script>
        <script src="{% static 'users/js/change_card.js'%}" charset="utf-8"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h1 class="register-heading">{{user.first_name}} {{user.last_name}}</h1>
                    {% if messages %}
                        {% for message in messages %}
                        <p class="error">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <h3 class="show-heading">Current Orders</h3>
                    {% if current_orders %}
                        {% for order in current_orders %}
                            <h5 class="show-description">{{order.live_date}}</h5>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="six columns">
                    <h3 class="show-heading">Past Orders</h3>
                    {% if past_orders %}
                        {% for meal in past_orders %}
                            <h5 class="show-description">{{meal.meal.live_date}} <a href="#{{meal.meal.id}}" class="feedback"> ✎</a></h5>
                            <div id="{{meal.meal.id}}" class="feedback-window">
                                <h3 class="show-heading">Feedback for {{meal.meal.live_date}}</h3>
                                <form id="feedback_form" action="{% url 'users:create_feedback' %}" method="POST">
                                    {% csrf_token %}
                                    <label for="message">Message:</label>
                                    <div class="row">
                                        <div class="ten columns">
                                            <input class="u-full-width" type="textarea" name="message">
                                            <input type="hidden" name="meal_id" value="{{meal.meal.id}}">
                                        </div>
                                        <div class="two columns">
                                            <input type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </form>
                                <a href="#feedback-close" title="Close" class="feedback-close">Close</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns" id="cardcontainer">
                    <label for="new_card">Current Card: <em>****{{user.last_4_digits}}</em></label>
                    <button type="button" id="new_card">Change Card</button>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <a class="button" id="reset">Reset</a>
                </div>
                <div class="six columns">
                    <a class="button" href="{% url 'home:dashboard' %}">Back</a>
                </div>
            </div>
        </div>
  </body>
</html>
