<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Order Status - {{user.first_name}} {{user.last_name}}</title>
        <script src="https://js.stripe.com/v2/"></script>
        <script src="https://js.stripe.com/v3/"></script>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'users/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'users/css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'users/css/styles.css' %}" />
        <script src="{% static 'users/js/jquery.js' %}" charset="utf-8"></script>
        <script src="{% static 'users/js/change_card.js'%}" charset="utf-8"></script>
        <style rel="stylesheet" type="text/css">
            .success{
                color:green;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    {% if request.session.user %}
                        {% if request.session.user.id == 24 %}
                        <h5 class="show-heading">{{ user.first_name }}'s Orders</h5>
                        {% else %}
                        <div class="twelve columns">
                            <h5 class="show-heading">Welcome {{request.session.user.first_name}}</h5>
                        </div>
                        {% endif %}
                        <div class="twelve columns">
                            <a class="button button-primary" href="{% url 'home:dashboard' %}">Menu</a>
                            <a class="button" href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <div class="twelve columns">
                            <a class="button button-primary" href="{% url 'users:index' %}">Login/Register</a>
                        </div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                        <p class="success">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="six columns">
                        <h3 class="show-heading">Current Orders</h3>
                        {% if current_orders %}
                            {% for order in current_orders %}
                                <h5 class="show-description"><a href="{% url 'users:show_order' meal_id=order.id %}">{{order.live_date}}</a></h5>
                                {% for main_dish in order.meal.main_dishes.all %}
                                    <h5 class="show-description">{{main_dish.display_name}}</h5>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="six columns">
                        <h3 class="show-heading">Past Orders</h3>
                        {% if past_orders %}
                            {% for meal in past_orders %}
                                <h5 class="show-description"><a href="{% url 'users:show_order' meal_id=meal.meal.id %}">{{meal.meal.live_date}}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns" id="cardcontainer">
                        <label for="new_card">Current Card: <em>****{{user.last_4_digits}}</em></label>
                        <button type="button" id="new_card">Change Card</button>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <a class="button" id="reset">Reset</a>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
