<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test</title>
        {% load staticfiles %}
        <script src="{% static 'home/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'home/css/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/lightbox.css' %}" >
        <script type="text/javascript">
            $(document).ready(function(){
                $('#meal-show').html($('#1').html());
                $('.menu-link[href="#1"]').addClass("active");


                $('.menu-link').click(function(){
                    var div_id = $(this).attr('href');
                    console.log(div_id, $(this).attr('href'));

                    var meal = $(div_id).html();
                    $('#meal-show').html(meal);
                    $('.menu-link').children('h3').removeClass("active");
                    $(this).children('h3').addClass("active");
                    $('.menu-link[href="#1"]').removeClass("active");
                })
            })
        </script>
    </head>
    <body>
        <div class="section menu">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <a class="button" href="{% url 'users:show' user_id=request.session.user.id %}">View Orders</a>
                        <a class="button" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <a href="#1" class="menu-link"><h3 class="menu-heading">Mon</h3></a>
                        <a href="#2" class="menu-link"><h3 class="menu-heading">Tue</h3></a>
                        <a href="#3" class="menu-link"><h3 class="menu-heading">Wed</h3></a>
                        <a href="#4" class="menu-link"><h3 class="menu-heading">Thu</h3></a>
                        <a href="#5" class="menu-link"><h3 class="menu-heading">Fri</h3></a>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <div id="meal-show" class="bento-display">

                        </div>
                        {% for meal in next_week_meals %}
                        <div id="{{ meal.live_date.isoweekday }}" class="bento-display bento-none">
                            {% for dish in meal.main_dishes.all %}
                                <h1 class="bento-heading">{{ dish.display_name }}</h1>
                                <h1 class="bento-subheading price">${{ dish.price }}.00</h1>
                                <h1 class="bento-subheading">Ingredients</h1>
                                {% for ingredient in dish.ingredients.all %}
                                    <h4 class="ingredient-heading">{{ ingredient.display_name }} </h4>
                                {% endfor %}
                                <h1 class="bento-subheading">Cuisine:</h1>
                                {% for category in dish.categories.all %}
                                <h1 class="ingredient-heading">{{ category.name }}</h1>
                                {% endfor %}
                                {% if dish.image %}
                                    <img src="{{ dish.image.url }}" alt="" class="pix">
                                {% endif %}
                                <br>
                                <form>
                                    <div class="row">
                                        {% for side_dish in meal.side_dishes.all %}
                                            <div class="six columns">
                                                <label>{{ side_dish.display_name }} </label><input type="checkbox" value="{{ side_dish.name }}" name="{{ side_dish.display_name }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <p>{{prev_meals}}</p> -->
    </body>
</html>
