<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BentoMe</title>
        {% load staticfiles %}
        <script src="{% static 'home/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'home/css/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/lightbox.css' %}" >
        <script type="text/javascript">
            $(document).ready(function(){
                $('#meal-show').html($('#1').html());
                $('.menu-link[href="#1"]').addClass("active");


                $('.menu-link').click(function(){
                    var div_id = $(this).attr('href');
                    var meal = $(div_id).html();
                    $('#meal-show').html(meal);
                    $('.menu-link').children('h2').removeClass("active");
                    $(this).children('h2').addClass("active");
                    $('.menu-link[href="#1"]').removeClass("active");
                })
            })
        </script>
    </head>
    <body>
        <div class="section menu">
            <div class="container">
                <div class="row">
                    {% if request.session.user %}
                        <div class="twelve columns">
                            <h5 class="bento-subheading">Welcome {{request.session.user.first_name}}</h5>
                        </div>
                        <div class="twelve columns">
                            <a class="button" href="{% url 'users:show' user_id=request.session.user.id %}">View Orders</a>
                            <a class="button" href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <div class="twelve columns">
                            <a class="button button-primary" href="{% url 'users:index' %}">Login/Register</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <a href="#1" class="menu-link"><h2 class="menu-heading">M</h2></a>
                        <a href="#2" class="menu-link"><h2 class="menu-heading">T</h2></a>
                        <a href="#3" class="menu-link"><h2 class="menu-heading">W</h2></a>
                        <a href="#4" class="menu-link"><h2 class="menu-heading">Th</h2></a>
                        <a href="#5" class="menu-link"><h2 class="menu-heading">F</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <div id="meal-show" class="bento-display">

                        </div>
                        {% for meal in next_week_meals %}
                        <div id="{{ meal.live_date.isoweekday }}" class="bento-display bento-none">
                            {% for dish in meal.main_dishes.all %}
                                <h1 class="bento-heading">{{ dish.display_name }}</h1>
                                <h1 class="bento-subheading price">${{ dish.price }}.00</h1>
                                <h1 class="bento-subheading">Ingredients</h1>
                                {% for ingredient in dish.ingredients.all %}
                                    <h4 class="ingredient-heading">{{ ingredient.display_name }} </h4>
                                {% endfor %}
                                <h1 class="bento-subheading">Cuisine:</h1>
                                {% for category in dish.categories.all %}
                                <h1 class="ingredient-heading">{{ category.name.title }}</h1>
                                {% endfor %}
                                {% if dish.image %}
                                    <img src="{{ dish.image.url }}" alt="" class="pix">
                                {% endif %}
                                <br>
                                {% if meal.live_date not in user_orders %}
                                  <form action="{% url 'home:order_meal' meal_id=meal.id %}" method="post">
                                    {% csrf_token %}
                                      <div class="row">
                                          <div id="radio_group">
                                            <div class="twelve columns">
                                              <input type="radio" name="sides" value="0"> None
                                            </div>
                                            {% for side in meal.side_dishes.all %}
                                            <div class="twelve columns">
                                              <input type="radio" name="sides" value="{{side.name}}"> {{side.display_name}} (+$1.00)
                                            </div>
                                            {% endfor %}
                                            <div class="twelve columns">
                                              <input type="radio" name="sides" value="3" checked> Both (+$2.00)
                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <p>
                                          <label for="password">Password:</label>
                                          <input type="password" name="password" value="">
                                        </p>
                                      </div>
                                      <div class="row">
                                        <input type="submit" name="" value="Order!">
                                      </div>
                                  </form>
                                {% endif %}
                                {% if meal.live_date in user_orders %}
                                    <h4>Thank you for your order!</h4>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <p>{{prev_meals}}</p> -->
    </body>
</html>
