<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        {% load staticfiles %}
        <script src="{% static 'home/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'home/css/lightbox.css' %}" >
    </head>
    <body>
        <div class="section hero">
            <div class="container">
                <div class="row">
                    <div class="one-half column">
                        <h4 class="hero-heading">BentoMe is currently on hiatus. Thank you everyone for your support!</h4>
                    </div>
                    <div class="one-half column">
                        <img src="{% static 'home/images/bentoicon1.png' %}" class="logo">
                    </div>
                </div>
            </div>
        </div>
        </script>
    </body>
</html>
