<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Dish</title>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'adminbento:dashboard' %}">Home</a>
      <a href="{% url 'adminbento:logout' %}">Logout</a>
    </div>
    <div class="adding">
      <form enctype="multipart/form-data" class="add dish" action="{% url 'adminbento:add_dish' %}" method="post">
        {% csrf_token %}
      {{dish_form.as_p}}
        <input type="submit" name="Add Dish" value="Add Dish">
      </form>
    </div>
  </body>
</html>
