<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Maria's Page</title>
      {% load staticfiles %}
      <script src="{% static 'adminbento/js/jquery.js' %}"></script>
      <link rel="stylesheet" href="{% static 'adminbento/css/styles.css' %}" />
      <link rel="stylesheet" href="{% static 'adminbento/css/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'adminbento/css/skeleton.css' %}" />
  </head>
  <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <a class="button" href="{% url 'adminbento:add_dish' %}">Add Dish</a>
                        <a class="button" href="{% url 'adminbento:menu' %}">Plan Menu</a>
                        <a class="button" href="{% url 'adminbento:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <h4 class="show-heading">Previous Meals</h4>
                        {% for meal in meals %}
                        <div class="meals">
                            <h4 class="show-description">Meal Date: {{meal.live_date}}</h4>
                            <h5 class="dish-heading">Main Dish:{% for main in meal.main_dishes.all %}</h5>
                              <h6 class="dish-element">• {{main.display_name}}</h6>
                            {% endfor %}
                            <h5 class="dish-heading">Side Dishes:{% for side in meal.side_dishes.all %}</h5>
                              <h6 class="dish-element">• {{side.display_name}}</h6>
                            {% endfor %}
                            <h5 class="dish-heading">Units Sold: {{meal.num_sold}}</h5>
                            <!-- {{meal.unitssold}} -->
                        </div>
                        {% endfor %}
                    </div>
                    <div class="six columns">
                        <h4 class="show-heading">Messages</h4>
                          {% for message in messages%}
                            <h4 class="message">{{message.message}}</h4>
                            <h2 class="timestamp"><i>posted by: {{message.user.first_name}} at: {{message.created_at}}</i></h2>
                          {% endfor %}
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
