<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Maria's Page</title>
      {% load staticfiles %}
      <script src="{% static 'home/js/jquery.js' %}"></script>
      <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'home/css/skeleton.css' %}" />
      <link rel="stylesheet" href="{% static 'home/css/lightbox.css' %}" >
  </head>
  <body>
    <div class="header">
      <a href="{% url 'adminbento:logout' %}">Logout</a>
    </div>
    <div class="menu bar">
      <ul>
        <li><a href="{% url 'adminbento:dish' %}">Add a Dish</a></li>
        <li><a href="{% url 'adminbento:menu' %}">Plan the Menu</a></li>
        <li>will be some link</li>
      </ul>
    </div>
    <div class="previous meals">
      <h2>Previous Meals</h2>
      {% for meal in meals %}
      <div class="meals">
        <p>Meal Date: {{meal.live_date}}</p>
        <p>Main Dish:{% for main in meal.main_dishes.all %}
          {{main.display_name}}
        {% endfor %}</p>
        <p>Side Dishes:{% for side in meal.side_dishes.all %}
          {{side.display_name}}
        {% endfor %}</p>
        Units Sold: {{meal.num_sold}}
        <!-- {{meal.unitssold}} -->
      </div>
      {% endfor %}
    </div>
    <div class="messages">
      <h2>Messages</h2>
        {% for message in messages%}
          <p>{{message.message}}</p>
          <i>posted by: {{message.user.first_name}} at: {{message.created_at}}</i>
        {% endfor %}
        </div>
    </div>
  </body>
</html>
