<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plan Menu</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="{% static 'adminbento/css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'adminbento/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'adminbento/css/skeleton.css' %}" />
        <script>
            $( function() {
                $( "#accordion" ).accordion();
            });
        </script>
    </head>
    <body>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="twelve columns">
                      <a class="button" href="{% url 'adminbento:dashboard' %}">Home</a>
                      <a class="button" href="{% url 'adminbento:logout' %}">Logout</a>
                  </div>
              </div>
              <div class="row">
                  <div class="twelve columns">
                      <div id="accordion">
                        <h3>Monday</h3>
                        <div class="mon">
                          <p>
                            <form class="" action="/admin/menu" method="post">
                            {% csrf_token %}
                          <p> Main Dish:</p>
                            <select class="main_dish" name="{{dish.id}}">
                              {%for dish in main_dish.all %}
                                  <option value="{{dish.id}}">{{dish.display_name}}</option>
                                {% endfor %}
                            </select>

                            <p>Side Dish 1:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                            <p>Side Dish 2:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                          </p>
                          <input type="submit" name="" value="Add Meal">
                        </form>
                        </div>
                        <h3>Tuesday</h3>
                        <div class="tues">
                          <p>
                            <form class="" action="/admin/menu" method="post">
                            {% csrf_token %}
                          <p> Main Dish:</p>
                            <select class="main_dish" name="{{dish.id}}">
                              {%for dish in main_dish.all %}
                                  <option value="{{dish.id}}">{{dish.display_name}}</option>
                                {% endfor %}
                            </select>

                            <p>Side Dish 1:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                            <p>Side Dish 2:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                          </p>
                          <input type="submit" name="" value="Add Meal">
                        </form>
                        </div>
                        <h3>Wednesday</h3>
                        <div class="wed">
                          <p>
                            <form class="" action="/admin/menu" method="post">
                            {% csrf_token %}
                          <p> Main Dish:</p>
                            <select class="main_dish" name="{{dish.id}}">
                              {%for dish in main_dish.all %}
                                  <option value="{{dish.id}}">{{dish.display_name}}</option>
                                {% endfor %}
                            </select>

                            <p>Side Dish 1:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                            <p>Side Dish 2:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                          </p>
                          <input type="submit" name="" value="Add Meal">
                        </form>
                        </div>
                        <h3>Thursday</h3>
                        <div class="thurs">
                          <p>
                            <form class="" action="/admin/menu" method="post">
                            {% csrf_token %}
                          <p> Main Dish:</p>
                            <select class="main_dish" name="{{dish.id}}">
                              {%for dish in main_dish.all %}
                                  <option value="{{dish.id}}">{{dish.display_name}}</option>
                                {% endfor %}
                            </select>

                            <p>Side Dish 1:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                            <p>Side Dish 2:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                          </p>
                          <input type="submit" name="" value="Add Meal">
                        </form>
                        </div>
                        <h3>Friday</h3>
                        <div class="fri">
                          <p>
                            <form class="" action="/admin/menu" method="post">
                            {% csrf_token %}
                          <p> Main Dish:</p>
                            <select class="main_dish" name="{{dish.id}}">
                              {%for dish in main_dish.all %}
                                  <option value="{{dish.id}}">{{dish.display_name}}</option>
                                {% endfor %}
                            </select>

                            <p>Side Dish 1:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                            <p>Side Dish 2:</p>
                            <select class="side_dish" name="{{dish.id}}">
                              {%for dish in side_dish %}
                                <option value="{{dish.id}}">{{dish.display_name}}</option>
                              {% endfor %}
                            </select>
                          </p>
                          <input type="submit" name="" value="Add Meal">
                        </form>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
    </body>
</html>
