<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Add Meal</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="{% static 'adminbento/css/styles.css' %}" />
      <link rel="stylesheet" href="{% static 'adminbento/css/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'adminbento/css/skeleton.css' %}" />
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( ".accordion" ).accordion();
      } );


      </script>
  </head>
  <body>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="twelve columns">
                      <a class="button" href="{% url 'adminbento:dashboard' %}">Home</a>
                      <a class="button" href="{% url 'adminbento:add_meal' %}">Add Dish</a>
                      <a class="button" href="{% url 'adminbento:logout' %}">Logout</a>
                  </div>
              </div>
              <div class="row">
                  <div class="twelve columns">
                      {% for week in dates_of_next_two_weeks %}
                        <div class="accordion">
                            {% for live_date in week %}
                              <h3>
                                {% if live_date.weekday == 0 %}
                                  Monday
                                {% elif live_date.weekday == 1 %}
                                  Tuesday
                                {% elif live_date.weekday == 2 %}
                                  Wednesday
                                {% elif live_date.weekday == 3 %}
                                    Thursday
                                {% elif live_date.weekday == 4 %}
                                    Friday
                                {% endif %}
                                -
                                {{live_date}}
                              </h3>
                              <div>
                                <form action="{% url 'adminbento:create_meal' %}" method="post">
                                  {% csrf_token %}
                                  {{meal_form.as_table}}
                                  <input type="hidden" name="meal_date" value="{{live_date}}"><br>
                                  <input type="submit" value="Add Meal" />
                                </form>
                              </div>
                            {% endfor %}
                        </div>
                      {% endfor %}

                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
