<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu Planning</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( ".accordion" ).accordion();
      } );


      </script>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'adminbento:dashboard' %}">Home</a>
      <a href="{% url 'adminbento:logout' %}">Logout</a>
    </div>
    {% for week in dates_of_next_two_weeks %}
      <div class="accordion">
          {% for live_date in week %}
            <h3>
              {% if live_date.weekday == 0 %}
                Monday
              {% elif live_date.weekday == 1 %}
                Tuesday
              {% elif live_date.weekday == 2 %}
                Wednesday
              {% elif live_date.weekday == 3 %}
                  Thursday
              {% elif live_date.weekday == 4 %}
                  Friday
              {% endif %}
              -
              {{live_date}}
            </h3>
            <div>
              <form action="{% url 'adminbento:create_meal' %}" method="post">
                {% csrf_token %}
                {{meal_form.as_p}}
                <p><a href="{% url 'adminbento:add_dish' %}"><button type="button" name="button">Add a Dish</button></a></p>
                <input type="hidden" name="meal_date" value="{{live_date.toordinal}}">
                <input type="submit" value="Add Meal" />
              </form>
            </div>
          {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
